
.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: row;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.align-itemns-center {
  align-items: center;
}

.align-itemns-start {
  align-items: flex-start;
}

.aling-itemns-end {
  align-items: flex-end;
}
